.clearfix
  %h3= t('front.matsuev.media.video.videos')
  %ul.thumbs.video
    - @video_posts.each do |post|
      - content = post.contents.for_shard_language(@current_shard_language).first
      - if(content)
        - video=content.videos.first
        - if video
          %li
            .hide
              - if video.youtube?
                %iframe{:allowfullscreen => "", :frameborder => "0", :height => "auto", :src => "http://www.youtube.com/embed/#{content.videos.first.youtube_id}", :width => "100%"}
              - else
                %video{ id: "video_#{content.videos.first.id}", class: "video-js vjs-default-skin", controls: true, preload: "auto", width: "230", height: "150", :"data-setup" => '{}' }
                  %source{ src: content.videos.first.url(false, "mp4"), type: 'video/mp4' }
                  %source{ src: content.videos.first.url(false, "webm"), type: 'video/webm' }
              .info
                %span
                  %strong=content.title
                %span= raw content.cut