- last_months ||= @last_months
- if last_months
  %h3= last_months.last[0..3]
  - date = Date.new(last_months[-count].split("-").first.to_i, last_months[-count].split("-").last.to_i)
  %span.arr.prev{ class: ("disabled" unless @current_shard.is_there_events_at(date.prev_month)) }
  - last_months[-count..6].each do |month|
    = render "front/matsuev/shared/month", month: month, empty_month: ""
  %span.arr.next.disabled
  %p.more-link
    = link_to t('front.matsuev.event.events'), events_path
