.clearfix.feed
  - if !@current_shard || @current_shard.posts.empty?
    %h2 Blog is empty
  .block.width360.official
    %span.ribbon
    = render 'posts', posts: @official_posts, stream: :official
  .block.personal
    = render 'posts', posts: @personal_posts, stream: :personal