%ul.albums.thumbs
  - @albums.each do |album|
    - next if album.photos.empty?
    %li
      .hide
        %a{ href: media_album_path(album), title: album.title }
          %span.stack.level0
          %span.stack.level1
          %span.stack.level2
          = image_tag(album.photos.first.link('160c'))
          .info
            %span= album.title