%li{ class: section == "events" ? "active" : nil }
  = link_to t('front.matsuev.event.events'), events_path
%li{ class: section_page == "media#index" ? "active" : nil }
  = link_to t('front.matsuev.media.media'), media_index_path
- unless @static_pages[part].nil?
  - @static_pages[part].each do |sp| 
    %li{ class: (@static_page && (@static_page.id == sp.id)) ? "active" : nil }
      - sp_c = sp.contents.for_shard_language(@current_shard_language)[0]
      = link_to sp_c.title, static_page_path(sp.permalink)
