- if @last_photos
  %h3 Фотогалерея
  %span.arr.prev
  %div.photo
    %ul
      - @last_photos.each do |photo|
        %li
          %a{ href: media_albums_path }
            = image_tag photo.link("104c")
  %span.arr.next
  %p.more-link
    = link_to t('front.matsuev.media.album.all_photos'), media_albums_path