- case lang_code
- when 'ru'
  %li
    %a{ href: "http://www.facebook.com/profile.php?id=100003194127412" }
      %span.network.facebook
  %li
    %a{ href: "https://twitter.com/#!/DenisMatsuev_ru" }
      %span.network.twitter
  %li
    %a{ href: "http://vkontakte.ru/denis_matsuev" }
      %span.network.vkontakte
  %li
    %a{ href: "http://denismatsuev.livejournal.com/" }
      %span.network.livejournal
  %li
    %a{ href: "http://www.odnoklassniki.ru/matsuevdenis" }
      %span.network.odnoklassniki
- when 'en'
  %li
    %a{ href: "http://www.facebook.com/profile.php?id=100003295092303" }
      %span.network.facebook
  %li
    %a{ href: "https://twitter.com/#!/DenisMatsuev" }
      %span.network.twitter
%li
  %a{ href: "http://www.youtube.com/user/MatsuevDenis/", target: "_blank" }
    %span.network.youtube
%li
  %a{ href: "https://profiles.google.com/102262381587908199570/photos" }
    %span.network.picasa