%iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/SDDf4jfpUmw", frameborder: 0, allowfullscreen: true }
-# - case rand 6
-# - when 0
-#   - case @current_shard_language.language.code
-#   - when "ru"
-#     %iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/gnsWpf7o0H4", frameborder: 0, allowfullscreen: true }
-#   - when "en"
-#     %iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/3v_HKDttcSI", frameborder: 0, allowfullscreen: true }
-# - when 1
-#   %iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/5Wh1QUKJvwM", frameborder: 0, allowfullscreen: true }
-# - when 2
-#   %iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/NIHeyT9DzzU", frameborder: 0, allowfullscreen: true }
-# - when 3
-#   %iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/QA7tEnhiwy4", frameborder: 0, allowfullscreen: true }
-# - when 4
-#   %iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/MotHj6N9dJU", frameborder: 0, allowfullscreen: true }
-# - when 5
-#   %iframe{ width: 660, height: 365, src: "http://www.youtube.com/embed/lUaQy7oFj_Q", frameborder: 0, allowfullscreen: true }