.search-results
  - if @error_string
    .error= @error_string
  - else
    - @search_results.each do |sr|
      %h2=sr[2]
      -sr[0].each do |occurance|
        .hat
          .title=link_to occurance.search_result_title_for_sl(@current_shard_language), (occurance.kind_of?(StaticPage) ? eval("#{sr[1]}(occurance.permalink)") : eval("#{sr[1]}(occurance)"))
          /.title="#{sr[1]}(occurance)"
      /.body= raw @content.uncut
